.actor-details__container {
    width: 100vw;
    padding-top: 30px;
}

.actor-details__info {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 88%;
    gap: 30px;
}

.info__text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    color: #FFF;
    font-family: var(--roboto-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text__name {
    color: #EDEDED;
    font-family: var(--inter-font);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.info__poster {
    width: 30%;
}

.info__poster img {
    width: 100%;
}

.text__imdb-link {
    width: 80px;
    margin-top: 15px;
}

.text__imdb-link img {
    width: 100%;
}

.actor-details__biography {
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
}

.biography__header {
    color: #EDEDED;
    font-family: var(--inter-font);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.biography__text {
    color: #FFF;
    font-family: var(--roboto-font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.actor-details__films {
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
}

.films__header {
    color: #EDEDED;
    font-family: var(--inter-font);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.films__info {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-items: stretch;
    align-items: stretch;
    gap: 25px;
}

.film-card__rating img {
    width: 20px;
    padding-bottom: 3px;
}

.details {
    height: 390px;
}

@media screen and (max-width: 600px) {
    .actor-details__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info__poster {
        width: 50%;
    }

    .info__text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .text__imdb-link {
        margin: 15px auto 0 auto;
    }

    .biography__header {
        text-align: center;
    }

    .films__header {
        text-align: center;
    }
    .films__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 460px) {
    .info__text {
        font-size: 1.125rem;
    }

    .text__name {
        font-size: 1.6875rem;
    }

    .biography__text {
        font-size: 1.125rem;
        padding: 0 1rem;
    }

    .biography__header {
        font-size: 1.6875rem;
    }

    .films__header {
        font-size: 1.6875rem;
    }
}