.my-ticket__ticket-info {
    width: 88%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    min-height: 80vh;
}

.ticket-info__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px;
}

.session-info {
    color: #EDEDED;
    font-family: var(--inter-font);
    font-weight: 400;
}

.session-info span {
    text-decoration: underline;
}

.film-info {
    width: 25%;
    text-align: center;
}

.film-info__poster {
    width: 100%;
}

.film-info__poster img {
    max-width: 100px;
    min-width: 100%
}

.film-info__title {
    color: #EDEDED;
    font-family: var(--inter-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.no-tickets {
    text-align: center;
    color: #EDEDED;
    font-family: var(--inter-font);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media screen and (max-width:480px) {
    .ticket-info__item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .session-info {
        order: 2;
    }

    .film-info {
        width: 50%;
    }
}